@font-face {
    font-family: StratosSkyengRegular;
    src: url(/fonts/statosskyeng-v1.001/Desktop\ fonts/stratosskyeng-regular.otf);
}

body {
    margin: 0;
    padding: 0;
    background-color: #004980;  
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: StratosSkyengRegular;
}

#app {
    width: 1000px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.level-selection-box {
    width: 480px;
    height: 460px;
    background-color: #C2F5FF;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

#level-form {
    display: flex;
    flex-direction: column;
    gap: 67px;
}

.level-selection-title {
    margin-top: 52px;
    margin-bottom: 48px;
    font-size: 40px;
    color: #004980;
    text-align: center;
    width: 208px;
}

.level-selection-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.start-the-game-container {
    align-self: center;
}

.level-button {
    width: 98px;
    height: 98px;
    border-radius: 12px;
    background-color: #FFFFFF;
    font-size: 64px;
    color: #0080C1;
    align-items: center;
    justify-content: center;
    border: none;
    font-family: StratosSkyengRegular;
    cursor: pointer;
}

.level-button.selected {
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
  }

.start-game-button {
    background-color: #7AC100;
    width: 246px;
    height: 50px;
    border: none;
    border-radius: 12px;
    color: #FFFFFF;
    font-size: 24px;
    font-family: StratosSkyengRegular;
    cursor: pointer;
}

.level-selection-warning {
    font-size: 10px;
    color: gray;
}

.game-board-header-container {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 22px 22px 0 22px;
    height: 91px;
}

.restart-button-container {
    align-self: center;
}

#restart-game-button {
    width: 246px;
    height: 50px;
    background-color: #7AC100;
    border: none;
    border-radius: 12px;
    color: white;
    font-family: StratosSkyengRegular;
    font-size: 24px;
    align-self: center;
}

.game-board-timer {
    width: 155px;
    font-size: 64px;
    color: white;
    font-family: StratosSkyengRegular;
}

#game-board {
    width: 100%;
    margin-left: 22px;
    margin-right: 22px;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.card-element {
    width: 95px;
    height: 133px;
}
