/* stylelint-disable prettier/prettier */
/* stylelint-disable font-family-no-missing-generic-family-keyword */
@font-face {
    font-family: STRATOS;
    src: url('/static/fonts/statosskyeng-v1.001/Web fonts/stratosskyengweb-regular.woff');
}

body {
    margin: 0;
    padding: 0;
    background-color: #004980;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: STRATOS;
}

#app {
    width: 1000px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.level-selection-box {
    width: 480px;
    height: 460px;
    background-color: #c2f5ff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

#level-form {
    display: flex;
    flex-direction: column;
    gap: 67px;
}

.level-selection-title {
    margin-top: 52px;
    margin-bottom: 48px;
    font-size: 40px;
    color: #004980;
    text-align: center;
    width: 208px;
}

.level-selection-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.start-the-game-container {
    align-self: center;
}

.level-button {
    width: 98px;
    height: 98px;
    border-radius: 12px;
    background-color: #fff;
    font-size: 64px;
    color: #0080c1;
    align-items: center;
    justify-content: center;
    border: none;
    font-family: STRATOS;
    cursor: pointer;
}

.level-button.selected {
    box-shadow: 0 5px 10px 2px rgb(34 60 80 / 20%) inset;
}

.start-game-button {
    background-color: #7ac100;
    width: 246px;
    height: 50px;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-size: 24px;
    font-family: STRATOS;
    cursor: pointer;
}

.level-selection-warning {
    font-size: 10px;
    color: gray;
}

.game-board-header-container {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 22px 22px 0;
    height: 91px;
}

.restart-button-container {
    align-self: center;
}

#restart-game-button {
    width: 246px;
    height: 50px;
    background-color: #7ac100;
    border: none;
    border-radius: 12px;
    color: white;
    font-family: STRATOS;
    font-size: 24px;
    align-self: center;
}

.game-board-timer {
    width: 155px;
    height: 91px;
    font-size: 64px;
    color: white;
    font-family: STRATOS;
    position: relative;
}

.timer-counter {
    display: flex;
    flex-direction: row;
}

.span-timer {
    font-size: 16px;
    line-height: 32px;
    position: absolute;
    top: -10px;
}

.min {
    left: 40px;
}

.sek {
    right: 0;
}

#game-board {
    width: 100%;
    margin-left: 22px;
    margin-right: 22px;
    height: 500px;
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    justify-content: center;
    position: relative;
}

.card-container {
    width: 95px;
    height: 133px;
    position: relative;
}

.blank {
    position: absolute;
    left: 0;
}

.matched {
    display: block;
}


.is-flipped {
    display: none;
}

.hidden {
    display: none;
}

.result-box {
    width: 480px;
    height: 460px;
    background-color: #c2f5ff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    position: absolute;
    align-self: center;
}

.img-result {
    margin-top: 26px;
}

.result-text {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #004980;
    margin-top: 9px;
    margin-bottom: 28px;
}

.time-result {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 10px;
}

.blur {
    filter: blur(2px);
}

.stop-watched-result {
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    margin-bottom: 40px;
}

